.invest-text{
    font-size: 40px;
    font-family: "Roboto Condensed";
    width:55vw;
    margin:10vh auto;
    line-height: 70px;
    background-color:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    padding: 3%;
    background-color: white;
     border-radius: 40px;
    box-shadow: 3px 3px 10px 8px rgba(0, 0, 0, 0.15); 
}
@media only screen and (max-width:768px){
    .invest-text{
        font-size: 25px;
        line-height: 40px;
        width:80vw;
        padding: 6% 2% 6% 6%;
        box-shadow: 2px 2px 7px 5px rgba(0, 0, 0, 0.15);
    }
}