.invest-text{
    font-size: 40px;
    font-family: "Roboto Condensed";
    width:55vw;
    margin:8vh auto;
    line-height: 70px;
    padding: 3%;
    background-image: url("../assets/kocka.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media only screen and (max-width:768px){
    .invest-text{
        font-size: 25px;
        line-height: 40px;
        width:90vw;
        width: 85%;
        margin: 10% auto;
        background-image: url("../assets/kockaMobile.png");
    }

}