.join-us-text{
    box-sizing: border-box;
    font-size: 40px;
    font-family: "Roboto Condensed";
    width:55%;
    margin: 1% 0 2% 22.5%;
    line-height: 55px;
    padding: 3%;
    background-image: url("../assets/kocka.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.position{
    font-size: 25px;
}
@media only screen and (max-width:768px){
    .join-us-text{
        font-size: 25px;
        line-height: 40px;
        width:90vw;
        width: 90%;
        margin: 10% auto;
        background-image: url("../assets/kockaMobile.png");

    }
}