.header-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1% 5%;
}
.header-logo {
  width: 25vw;
}
.nav-link {
  margin: 0 3%;
  padding: 5px 0;
  font-size: 25px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: #118adb;
}
.socialMedia {
  position: absolute;
  right: 0;
  width: 6%;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    width: 45vw;
    margin: 2% 3%;
    padding-top: 8%;
  }
  .nav-link {
    margin: 3vh 2vw 0 2vw;
    font-size: 20px;
  }
  .socialMedia {
    display: none;
  }
}
